<div class="flex flex-row justify-between items-center mt-3">
  <span class="dark:text-white text-xl"><%= bid.user.username %></span>
  <span class="dark:text-white">Bid Amount : <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300"> <%= bid.amount %>$ </span></span>
</div>
